body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #add2e8;
}

.container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 10px;
}

.card {
  width: 100px;
  height: 150px;
  cursor: pointer;
  background-color: #f6baeb;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.card .symbol {
  display: none;
}

.card.flipped .symbol {
  display: block;
}

.card.matched {
  background-color: #ea4848;
  cursor: default;
}
